<!DOCTYPE html>
<html>
<title>
admin/product list
</title>

<head>
    <link rel="stylesheet" href="/static/styles(Arshia).css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
  </head>

<body style="background-color:#b9928b  ;">

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: inherit !important;">
  <a class="navbar-brand" href="#">LOGO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown px-2">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Tools
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Tool 1</a>
          <a class="dropdown-item" href="#">Tool 2</a>
          <a class="dropdown-item" href="#">Tool 3</a>
        </div>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link" style="background-color: #eeeade; border-radius: 7px;" href="#">About Us</a>
      </li>
    </ul>
  </div>
</nav>          <br><br>

         <p class="heading" style="font-size: 1.8rem; padding-left: 5%;">
          Products Currently Listed
         </p>          
         <br>

          <table style="margin-left: 200px; width: 70%; border-radius: 10px; text-align: center;" class="admin-pro-table table-borderless table table-dark table-striped tables  " >
            <thead class="table-dark">
                <tr>
                  <th class="heading table-heading" scope="col">Product Name</th>
                  <th class="heading table-heading" scope="col">MRP</th>
                  <th class="heading table-heading" scope="col">Hours Req.</th>
                  <th class="heading table-heading" scope="col">Raw Materials</th>

                </tr>
              </thead>
              <tbody>
                {%  for x in data  %}
                <tr>
                  <td>{{x[1]}}</td>
                  <td>{{x[2]}} Rs</td>
                  <td>{{x[3]}} hours</td>
                  <td style="width: 15%;"><a href="/ProductDeet/{{x[0]}}">Details</a></td>

                </tr>
{%endfor%}
              </tbody>
            </table>
            <br><br>
            <a class="btn btn-primary btn-light admin-pro-button heading" href="{{url_for("add_product")}}" role="button" style="background-color:#5d6d96 !important; margin-left: 46%;" >Add New Product</a>
            <br><br><br>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>